/* style footer */
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    /* border-bottom: 2px solid white; */
    transform: translateY(-3px) scale(1.05);
    /* Atur warna dan ukuran garis bawah */
}

.n {
    background-color: #0000CD;
    /* Warna latar belakang kartu */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border: none;
}

.n:hover {
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform: translateY(-5px) scale(1.05);

}

.n.active {
    background-color: #FFA500;
    /* Warna latar belakang kartu saat dihover atau diactive */
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform: translateY(-5px) scale(1.05);
}

.up:hover {
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform: translateY(-5px) scale(1.05);

}

.icon-nav {
    color: white;
}

body {
    background-color: #f3f3f3;
}

* {
    font-family: 'Poppin', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    min-height: 70vh;

}

footer {
    position: relative;
    bottom: 0;
    background-color: #FFA41B;
    color: white;

}

.mm {
    max-width: 750px;
    margin: 5px auto;
    background-color: #fff;
    padding: 5px;
}

.cart img {
    width: 350px;
    height: 250px;
}

.cart h2 {
    color: #333;
}

.cart h5 {
    background-color: #d5d5d510;
    height: 30px;
    align-items: center;
    display: flex;
    border-radius: 5px;
}

.cart .harga {
    background-color: #d5d5d510;
    height: 45px;
    align-items: center;
    display: flex;
}

.price {
    color: #e44d26;
    font-weight: bold;
    font-size: 1.5em;
    margin: 10px 0;
}

.cart .description {
    color: #666;
    font-size: 15px;
    text-align: justify;
}

.cart .add-to-cart {
    background-color: #4caf50;
    color: #fff;
    width: 200px;
    height: 45px;
    font-size: 13px;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
}

.cart .add-to-cart-m {
    background-color: #8aca8c4b;
    color: #4caf50;
    width: 200px;
    height: 45px;
    font-size: 13px;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    border: solid 2px #4caf50;
}

.cart .add-to-cart:hover {
    background-color: #45a049;
}

.hk {
    color: #aeaeae;
    /* Warna abu-abu */
    transition: color 0.3s ease;
    /* Efek transisi */
}

.hk:hover {
    color: #ff0000;
    /* Warna merah saat hover */
}

.atas {
    opacity: 0; /* Set opacity menjadi 0 untuk menyembunyikan elemen */
    transform: translateY(-50px); /* Menggeser elemen ke atas sejauh 50px */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Transisi opacity dan transformasi selama 0.5 detik dengan efek ease-in-out */
}

.atas.show {
    opacity: 1; /* Set opacity menjadi 1 saat kelas 'show' ditambahkan */
    transform: translateY(0); /* Set transformasi kembali ke posisi awal (tidak digeser) */
}
.bawah {
    opacity: 0; /* Set opacity menjadi 0 untuk menyembunyikan elemen */
    transform: translateY(50px); /* Menggeser elemen ke atas sejauh 50px */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Transisi opacity dan transformasi selama 0.5 detik dengan efek ease-in-out */
}

.bawah.show {
    opacity: 1; /* Set opacity menjadi 1 saat kelas 'show' ditambahkan */
    transform: translateY(0); /* Set transformasi kembali ke posisi awal (tidak digeser) */
}
.blur {
    opacity: 0; /* Awalnya atur opacity menjadi 0 untuk membuat elemen tersembunyi */
    transition: opacity 0.5s ease-in-out; /* Transisi opacity selama 0.5 detik dengan efek ease-in-out */
}

.blur.show {
    opacity: 1; /* Atur opacity menjadi 1 saat kelas 'show' ditambahkan untuk membuat elemen ditampilkan dengan transisi */
}

.kanan {
    opacity: 0;
    transform: translateX(50px); /* Atur transformasi awal untuk menyembunyikan elemen di sebelah kanan */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.kanan.show {
    opacity: 1;
    transform: translateX(0); /* Geser ke posisi awal, yaitu tidak ada transformasi di sumbu X */
}

.kiri {
    opacity: 0;
    transform: translateX(-50px); /* Atur transformasi awal untuk menyembunyikan elemen di sebelah kanan */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.kiri.show {
    opacity: 1;
    transform: translateX(0); /* Geser ke posisi awal, yaitu tidak ada transformasi di sumbu X */
}
